/********** Base styles **********/
* {
  	box-sizing: border-box;
}

body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 24px;
}

h1 {
  	margin-bottom: 30px;
  	text-align: center;
  	font-size: 1.75em;
  	color: navy;
}

h2 {
	visibility: hidden;
	margin: 0;
	font-size: 0.6em;
	text-align: center;
	font-weight: normal;
}

footer {
	clear: both;
	font-size: 0.5em;
	text-align: center;
	font-style: italic;
}

footer p {
	margin: 0;
}

div {
	border: 1px solid black;
	border-radius: 10px;
	background-color: silver;
	margin: 15px;
}

.menu_title {
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
	width: 200px;
	float: right;
	border: 1px solid black;
	border-radius: 0 10px;
	margin: -1px -1px 0 0;
	padding: 5px;
}

.menu_title + p {
	clear: both;
	padding: 10px 20px;
	margin: 0px;
	font-size: 0.8em;
}

.chicken {
	background-color: #FF6347;
}

.beef {
	background-color: #006400;
	color: white;
}

.sushi {
	background-color: #5F9EA0;
}

/* Simple Responsive Framework. */
.row {
	width: 100%;
	
}

/********** Desktop devices **********/
@media (min-width: 992px) {
  	body {
  		font-size: 16px;
  	}

  	h2 {
  		visibility: visible;
  	}

  	div:hover {
		background-color: white;
	}

	div:hover .menu_title {
		opacity: 100%
	}

	.menu_title {
		opacity: 50%;
	}

	.menu_title + p {
		font-size: 1em;
	}

  	.col-lg-4 {
    	width: 33.33%;
	    float: left;
  	}
  	
}

/********** Tablet devices **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}
