body {
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 0;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
}

.navbar-brand {
	padding-top: 10px;
	margin-bottom: 10px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-brand h1 {
	margin: 0;
	padding-bottom: 30px;
	color: black;
	font-weight: bold;
	text-shadow: ;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
	clear: both;
	margin-right: 30px;
	margin-top: -42px;
	margin-bottom: 0;
}

.navbar-collapse {
	border: 0;
}

#nav-list {
	color: black;
	background-color: gainsboro;
	border-top: 3px solid black;
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list li {
	/*font-weight: bold;*/
	font-size: 1.5em;
	text-transform: uppercase;
}
#nav-list li:hover {
	font-style: italic;
}
#nav-list hr {
	width: 80%;
	margin-top: 0;
	margin-bottom: 0;
	border: 3px solid black;
	border-radius: 2px;
}
/** END HEADER **/

/** FOOTER **/
.panel-footer p {
	font-size: .7em;
	line-height: .75;
}
/** END FOOTER **/

/** HOME PAGE **/
#our-menu-title, .menu-title {
	font-weight: bold;
}

.menu-item-tile {
	background-color: silver;
	
}
h3.menu-title {
	padding-top: 10px;
	margin: 0;
}
h3.menu-title + p {
	margin: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

/** END HOME PAGE **/
